body{
  background-color: antiquewhite;
  background-image: url(fondo.jpg);

}

h1{
   color: black;
   font-family: cursive;

}

p{
   color: black ;
    font-family: cursive;;
    font-size: 15 px;
    font-weight: bolder;
    font-style: italic;

}
