body{
  background-color: antiquewhite;
  background-image: url(fondo.jpg);
  text-align: justify;

}
h1{
  font-family: cursive;;
  color: #F0E3B4

}

.titulo{
    background-color: black;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: auto;;
    border-radius: 15px;
    border: rgb(207, 220, 8);
}

.imagen{
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;


}

nav {
    height: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
}

a {
    color: #F0E3B4  ;
    margin: 10px 10px;
    font-size: 30px;
    text-decoration: none;
    padding: 10px 40px;
}

a:hover{
  text-decoration: underline;
  background: #E89D62  ;
}

img{
  height: 400px;
  width: 600px;
}

pre{
  color:  #F0E3B4 ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;

}

p{
   color:#F0E3B4 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15 px;
    font-weight: bolder;
    font-style: italic;

}

dd, dt{
  color: #F0E3B4 ;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.cuento{
  background-color:black;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    border: rgb(255, 255, 255);
    border-style: solid;
    border-width: 4px;
}
